html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
h1 {
    font-size: max(4vw, 40px);
    font-weight: lighter;
    color: #183d63;
    margin: 10px 0px;
    font-family: 'RiotSquad';
}
h3 {
    font-size: max(2vw, 35px);
    font-weight: lighter;
    color: #183d63;
    margin: 10px 0px;
    font-family: 'RiotSquad';
}
p {
    font-family: 'PoiretOne-Regular';
}
ul {
    margin: 0;
}
.center {
    text-align: center;
}
.left {
    align-items: flex-start;
    text-align: left;
}
.right {
    align-items: flex-end;
    text-align: right;
}

/* ---------------------------------------------------------- Home page styles ---------------------------------------------------------- */

.navbar {
    background-color: #00000000;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.container-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    height: 150px;
}
.navbar-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: -1;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: fixed;
    right: 0;
    z-index: 2;
    padding: 30px;
    background-color: #183d63;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s, visibility 0.3s;
}
.hidden {
    visibility: hidden;
    opacity: 0;
}
.navbar-nav button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'PoiretOne-Regular';
    font-size: max(3vw,32px);
    color: #A5D3EE;
    width: fit-content;
    height: 50px;
    align-self: flex-end;
    line-height: 0;
}
.navbar-nav div{ /* Drop menu underlines */
    width: 100%;
    height: 2px;
    margin: 5px;
    background-color: #A5D3EE;
}
.navbar-nav li {
    text-align: center;
    display: inline-block;
}
.navbar-nav a {
    display: block;
    border-radius: 40px;
    flex: 0 auto;
    font-size: max(3.5vw,32px);
    font-family: 'BeyondInfinity';
    text-decoration: none;
    color: #A5D3EE;
}
.navbar-nav a:hover, button:hover {
    color: white;
}
.logo-nav {
    display: flex;
    height: fit-content;
    margin: 0 50px;
}
.logo-nav img{
    height: 120px;
    align-self: center;
}
.navbar-elements {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    height: 50%;
    justify-content: center;
}
.reservar {
    display: flex;
    align-items: center;
    margin: 0 30px;
    cursor: pointer;
    height: 100%;
}
.reservar img {
    height: 65%;
}
.menu {
    display: flex;
    height: 100%;
    justify-content: right;
    margin: 0 20px;
    border-radius: 10px;
    right: 0;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: #3A7EBD;
}
.menu-toggler {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}
.menu-toggler img {
    height: 50%;
}
.contacto-wpp {
    position: fixed;
    margin: 25px;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.contacto-wpp img {
    width: 75px;
}
.container-intro-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    height: 80vh;
    padding: 0 10%;
}
.container-intro-text p {
    font-weight: 600;
}
.home-image-container {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}
.home-image {
    margin: 7%;
    height: min(45%, 25vw);
    min-height: 250px;
}
.diapositiva {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}
.diapositiva img{
    object-fit: cover;
    width: 100%;
}
.diapositiva a {
    background-color: #183d63;
    color: white;
    width: max-content;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: lighter;
    cursor: pointer;
    font-family: 'RiotSquad';
    text-decoration: none;
}

.diapo-text {
    width: 50%;
    padding: 0px 70px;
    display: flex;
    flex-direction: column;
}
.diapo-text div {
    width: 100%;
    height: 4px;
    background-color: #183d63;
}
.separador{
    width: 100%;
    height: 3px;
    margin: 20px 0px;
    background-color: #A5D3EE;
}
.container-galería{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    height: 80vh;
}
.carousel-container {
    overflow: hidden;
    width: 100%;
}
.carousel-track {
    display: flex;
    transition: transform 2s ease;
    align-items: center; /* Centra verticalmente las imágenes */
}
.carousel-image {
    width: 33.3%; /* Cada imagen ocupa un tercio del contenedor */
    height: auto; /* Ajusta la altura automáticamente */
    object-fit: contain; /* Ajusta la imagen para que quepa completamente dentro del contenedor */
    flex: 0 0 auto; /* Asegura que las imágenes no se redimensionen */
}
.header-servicios {
    padding: 0px 10%;
    display: flex;
    flex-direction: column;
}
.header-servicios h1 {
    align-self: flex-end;
    padding: 0px 10%;
    font-family: 'BeyondInfinity';
    font-size: max(6vw, 70px);
    color: #183d63;
    margin-bottom: 0;
}
.header-servicios p {
    margin: 0;
}
.iconos {
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
    padding: 50px 10%;
    flex-wrap: wrap;
}
.iconos img {
    height: 16vw;
    min-height: 140px;
}
.container-verservicios {
    display: flex;
    justify-content: center;
}
.container-verservicios a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-verservicios img {
    height: 70px;
}
.container-ubi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
    padding: 0px 120px;
    width: 60%;
    min-width: 400px;
    height: 100%;
}
.map {
    width: 100%;
    height: 100%;
    border: 0;
}
.container-footer {
    display: flex;
    min-height: 400px;
    padding: 30px;
    justify-content: space-around;
    font-family: 'PoiretOne-Regular';
    font-size: 24px;
}
.container-footer p {
    font-size: max(1.5vw, 20px);
}
.icono-redes {
    width: 35px;
    height: 35px;
}
.footer {
    display: flex;
    padding: 2vw;
    column-gap: 40px;
}
.footer-col {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-footer img {
    width: 80%;
}
.block-footer-subt {
    width: fit-content;
}
.reservar-footer {
    display: flex;
    align-items: center;
    margin: 0 30px;
    cursor: pointer;
    height: 15%
}
.reservar-footer img {
    width: 100%;
}
.block-footer-info {
    color: black;
}

/* ---------------------------------------------------------- Apartamentos page styles ---------------------------------------------------------- */
.container-aptos {
    padding: 7%;
    padding-top: 200px;
}
.grid-aptos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.grid-aptos h1 {
    width: 100%;
    font-size: max(6vw, 60px);
    font-family: 'BeyondInfinity';
    font-weight: lighter;
    text-align: center;
    color: white;
    margin: 0;
    line-height: 0.7;
}
.grid-aptos h2 {
    width: min-content;;
    min-width: 35%;
    height: fit-content;
    font-size: max(3vw, 30px);
    font-family: 'RiotSquad';
    font-weight: lighter;
    text-align: center;
    color: white;
    background-color: #183d63;
    padding: 10px 20px;
    margin: 0;
    border-color: #4DB0CB;
    border-width: 10px;
}
.grid-aptos p {
    font-size: max(3vw, 30px);
    font-family: 'RiotSquad';
    margin: 0;
}
.grid-aptos img {
    width: max(2vw, 20px);
}
.row1 {
    display: flex;
    width: 100%;
    gap: 20px;
}
.row1 a {
    display: flex;
    width: min(50%, 30vw);
    min-width: 220px;
    height: 50vh;
    text-align: center;
    text-decoration: none;
}
.row1 div, .row2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #183d63c5;
    color: white;
    transition: background-color 0.6s ease;
}
.row2 {
    display: flex;
    width: 100%;
    gap: 20px;
}
.row2 a {
    display: flex;
    width: min(50%, 50vw);
    min-width: 220px;
    height: 60vh;
    text-align: center;
    text-decoration: none;
}
#info-afrodita, #info-eros, #info-zeus, #info-poseidon, #info-atenea {
    display: none;
}

/* ---------------------------------------------------------- Single apartment styles ---------------------------------------------------------- */
.grid-img-apto {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}
.row-apto{
    display: flex;
    min-width: 220px;
    text-align: center;
    text-decoration: none;
    column-gap: 10px;
}
.row-apto img {
    width: 100%;
    height: auto;
}
.distribucion {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
}
.distribucion img {
    width: 45%;
}
.iconos-apto {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-around;
    row-gap: 50px;
    flex-wrap: wrap;
}
.row-iconos-apto {
    display: flex;
    justify-content: space-around;
    column-gap: 10%;
}
.row-iconos-apto div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background-blend-mode: multiply;
}
.row-iconos-apto div:hover {
    background-color: #183d63b0;
}
.row-iconos-apto p {
    display: none;
    font-size: 5vw;
    margin: 0;
    text-align: center;
    font-family: 'RiotSquad';
    color: white;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    mix-blend-mode: exclusion;
}
.next {
    border-radius: 3px 0 0 3px;
    align-self: flex-end;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.dots {
    text-align:center;
    position: absolute;
    bottom: 0;
    left: 30%;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

/* ---------------------------------------------------------- Servicios styles ---------------------------------------------------------- */
.container-servicios {
    padding-top: 200px;
}
.intro-servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    padding-bottom: 30px;
    background-color: #a5d3ee46;
}
.intro-servicios h1 {
    align-self: unset;
}
.iconos-servicios {
    display: flex;
    justify-content: center;
    width: 100%;
}
.iconos-servicios > div {
    margin: 60px 7%;
    max-width: 1062px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
}
.iconos-servicios > div > div {
    width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}
.iconos-servicios div img {
    width: 135px;
}
.kiosko-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a5d3ee46;
    padding: 20px;
    margin-bottom: 40px;
  }
  
  .kiosko-image img {
    width: 100%;
    max-width: 600px;
  }
  
  .kiosko-description {
    max-width: 50%;
    margin-left: 20px;
    text-align: justify;
  }
  
  .kiosko-description h2 {
    font-size: 2.5rem;
    color: #002855; 
    margin-bottom: 10px;
  }
  
  .kiosko-description p {
    
  }
  .piscina-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 40px;
  }
  
  .piscina-description {
    max-width: 50%;
    margin-right: 20px;
    text-align: right;
    text-align: justify;
  }
  
  .piscina-description h1 {
    text-align: right;
  }
  
  .piscina-description p {
  }
  
  .piscina-image img {
    width: 100%;
    max-width: 600px;
  }
  /* Playa styles */
.playa-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a5d3ee46;
    padding: 20px;
    margin-bottom: 40px;
  }
  
  .playa-image img {
    width: 100%;
    max-width: 600px;
  }
  
  .playa-description {
    max-width: 50%;
    margin-left: 20px;
    text-align: justify;
  }
  
  .playa-description h2 {
    font-size: 2.5rem;
    color: #002855;
    margin-bottom: 10px;
  }
  
  .playa-description p {
  }
  
  

/* ---------------------------------------------------------- Responsive styles ---------------------------------------------------------- */
@media only screen and (min-width: 1600px) {
    .navbar-bg-image {
        height: 220px;
    }
    .container-aptos, .container-servicios {
        padding-top: 220px;
    }
    .container-nav {
        height: 170px;
    }
    .logo-nav {
        margin: 0 50px;
    }
    .logo-nav img {
        height: 140px;
    }
}
@media only screen and (max-width: 1000px) {
    body {
        font-size: 28px;
    }
    .navbar-bg-image{
        height: 180px;
    }
    .container-aptos, .container-servicios {
        padding-top: 180px;
    }
    .container-nav {
        height: 130px;
    }
    .logo-nav {
        margin: 0 30px;
    }
    .logo-nav img {
        height: 110px;
    }
    .contacto-wpp img {
        width: 50px;
    }
    .row-iconos-servicios {
        flex-direction: column;
    }
    .reservar-footer {
        min-height: 80px;
    }
    .container-footer {
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 778px) {
    body {
        font-size: 24px;
    }
    .navbar-bg-image {
        height: 150px;
    }
    .container-aptos, .container-servicios {
        padding-top: 150px;
    }
    .container-nav {
        height: 110px;
    }
    .logo-nav {
        margin: 0 20px;
    }
    .logo-nav img {
        height: 90px;
    }
}
@media only screen and (max-width: 700px) {
    .navbar-bg-image {
        height: 130px;
    }
    .container-aptos, .container-servicios {
        padding-top: 130px;
    }
    .container-nav {
        height: 90px;
        padding: 15px;
    }
    .logo-nav {
        margin: 0 10px;
    }
    .logo-nav img {
        height: 70px;
    }
    .reservar {
        display: none;
    }
}
