{% extends 'main/layouts/nav.html' %}

{% load static %}
{% block content %}

<div style="padding: 7%; padding-top: 200px">
    <h1 class="right">Apartamento Afrodita</h1>
    <p class="left-aligned-text">Ubicado en el 2do piso. Afrodita es un alojamiento de ensuño. El cual permite la acomodacion de hasta 9
        huespedes. Cuenta con 2 habitaciones con baño privado y tambien una cama exterior tipo sofa cama con
        tarima. adicionalmente cocina dotada y balcon en el perimetro con vista a nuestras instalaciones.
     </p>
     <div class="grid-img-apto">
         <div class="row-apto" >
             <div>
                 <img src="{% static 'Imagenes\fotos afrodita\afroditaimg1.JPG'%}" alt="">
             </div>
             <div>
                 <img src="{% static 'Imagenes\fotos afrodita\afroditaimg2.JPG'%}" alt="">
             </div>
             <div>
                 <img src="{% static 'Imagenes\fotos afrodita\afroditaimg3.JPG'%}" alt="">
             </div>
         </div>
         <div class="row-apto">
            <div>
                <img src="{% static 'Imagenes\fotos afrodita\afroditaimg4.JPG'%}" alt="">
            </div>
            <div>
                <img src="{% static 'Imagenes\fotos afrodita\afroditaimg5.JPG'%}" alt="">
            </div>
            <div>
                <img src="{% static 'Imagenes\fotos afrodita\afroditaimg6.JPG'%}" alt="">
            </div>
            <div>
                <img src="{% static 'Imagenes\fotos afrodita\afroditaimg7.JPG'%}" alt="">
            </div>
         </div>

     </div>
     <div class="distribucion">
        <h1>DISTRIBUCIÓN</h1>
        <img src="{% static 'Imagenes\fotos afrodita\afroditaplanos.png'%}" alt="">
        <div class="iconos-apto">
            <div class="row-iconos-apto">
                <div class="icono-personas-bg" onmouseover="displayInfoApto('title-personas', 'info-personas')" onmouseout="hideInfoApto('title-personas', 'info-personas')">
            <p id="title-personas"></p>
            <p id="info-personas" style="display: none;">9</p>
        </div>
                <div class="icono-camas-bg">
                    <p>2</p>
                </div>
                <div class="icono-aires-bg">
                    <p>3</p>
                </div>
                <div class="icono-comedores-bg">
                    <p>1</p>
                </div>
                <div class="icono-wifi-bg">
                </div>
            </div>
            <div class="row-iconos-apto">
                <div class="icono-duchas-bg">
                    <p>3</p>
                </div>
                <div class="icono-parqueaderos-bg">
                    <p>2</p>
                </div>
                <div class="icono-televisores-bg">
                    <p>1</p>
                </div>
                <div class="icono-piscina-bg">
                </div>
                <div class="icono-mascotas-bg">
                </div>
            </div>
        </div>
     </div>
</div>
{% endblock %}  