{% extends 'main/layouts/nav.html' %}

{% load static %}
{% block content %}

<div class="apto-afrodita-bg" style="padding: 7%; padding-top: 25vh">
    <h1 class="right">Apartamento Afrodita</h1>
    <p class="p-small">Ubicado en el 2do piso. Afrodita es un alojamiento de ensuño. El cual permite la acomodacion de hasta 9
        huespedes. Cuenta con 2 habitaciones con baño privado y tambien una cama exterior tipo sofa cama con
        tarima. adicionalmente cocina dotada y balcon en el perimetro con vista a nuestras instalaciones.
    </p>
    <div class="grid-img-apto">
        <div class="row-apto" >
            <div>
                <img src="{% static 'Imagenes/Aptos/Cada apto/fotos afrodita/afroditaimg1.JPG'%}" alt="Foto 1">
            </div>
            <div>
                <img src="{% static 'Imagenes/Aptos/Cada apto/fotos afrodita/afroditaimg2.JPG'%}" alt="Foto 2">
            </div>
            <div>
                <img src="{% static 'Imagenes/Aptos/Cada apto/fotos afrodita/afroditaimg3.JPG'%}" alt="Foto 3">
            </div>
        </div>
        <div class="row-apto">
           <div>
               <img src="{% static 'Imagenes/Aptos/Cada apto/fotos afrodita/afroditaimg4.JPG'%}" alt="Foto 4">
           </div>
           <div>
               <img src="{% static 'Imagenes/Aptos/Cada apto/fotos afrodita/afroditaimg5.JPG'%}" alt="Foto 5">
           </div>
           <div>
               <img src="{% static 'Imagenes/Aptos/Cada apto/fotos afrodita/afroditaimg6.JPG'%}" alt="Foto 6">
           </div>
           <div>
               <img src="{% static 'Imagenes/Aptos/Cada apto/fotos afrodita/afroditaimg7.JPG'%}" alt="Foto 7">
           </div>
        </div>
     </div>
     <div class="distribucion">
        <h1>DISTRIBUCIÓN</h1>
        <img src="{% static 'Imagenes/Aptos/Cada apto/fotos afrodita/afroditaplanos.png'%}" alt="Distribución">
        <div class="iconos-apto">
            <div class="row-iconos-apto">
                <div class="icono-personas-bg" onmouseover="displayInfoApto('title-personas', 'info-personas')" onmouseout="hideInfoApto('title-personas', 'info-personas')">
                    <p id="title-personas"></p>
                    <p id="info-personas" style="display: none;">9</p>
                </div>
                <div class="icono-camas-bg" onmouseover="displayInfoApto('title-personas1', 'info-personas1')" onmouseout="hideInfoApto('title-personas1', 'info-personas1')">
                    <p id="title-personas1"></p>
                    <p id="info-personas1" style="display: none;">2</p>
                </div>
                <div class="icono-aires-bg" onmouseover="displayInfoApto('title-personas2', 'info-personas2')" onmouseout="hideInfoApto('title-personas2', 'info-personas2')">
                    <p id="title-personas2"></p>
                    <p id="info-personas2" style="display: none;">3</p>
                </div>
                <div class="icono-comedores-bg" onmouseover="displayInfoApto('title-personas3', 'info-personas3')" onmouseout="hideInfoApto('title-personas3', 'info-personas3')">
                    <p id="title-personas3"></p>
                    <p id="info-personas3" style="display: none;">1</p>
                </div>
                <div class="icono-wifi-bg">
                </div>
            </div>
            <div class="row-iconos-apto">
                <div class="icono-duchas-bg" onmouseover="displayInfoApto('title-personas5', 'info-personas5')" onmouseout="hideInfoApto('title-personas5', 'info-personas5')">
                    <p id="title-personas5"></p>
                    <p id="info-personas5" style="display: none;">3</p>
                </div>
                <div class="icono-parqueaderos-bg" onmouseover="displayInfoApto('title-personas6', 'info-personas6')" onmouseout="hideInfoApto('title-personas6', 'info-personas6')">
                    <p id="title-personas6"></p>
                    <p id="info-personas6" style="display: none;">2</p>
                </div>
                <div class="icono-televisores-bg" onmouseover="displayInfoApto('title-personas7', 'info-personas7')" onmouseout="hideInfoApto('title-personas7', 'info-personas7')">
                    <p id="title-personas7"></p>
                    <p id="info-personas7" style="display: none;">1</p>
                </div>
                <div class="icono-piscina-bg">
                </div>
                <div class="icono-mascotas-bg">
                </div>
            </div>
        </div>
     </div>
</div>
{% endblock %}  