{% extends 'main/layouts/nav.html' %}

{% load static %}
{% block content %}

<div style="padding: 7%; padding-top: 200px">
    <h1 class="right">Apartamento Afrodita</h1>
    <p class="left-aligned-text">Ubicado en el 2do piso. Afrodita es un alojamiento de ensuño. El cual permite la acomodacion de hasta 9
        huespedes. Cuenta con 2 habitaciones con baño privado y tambien una cama exterior tipo sofa cama con
        tarima. adicionalmente cocina dotada y balcon en el perimetro con vista a nuestras instalaciones.
     </p>
     <div class="grid-img-apto">
         <div class="row-apto" >
             <div>
                 <img src="{% static 'Imagenes/Aptos/Atenea.png'%}" alt="">
             </div>
             <div>
                 <img src="{% static 'Imagenes/Aptos/Atenea.png'%}" alt="">
             </div>
             <div>
                 <img src="{% static 'Imagenes/Aptos/Atenea.png'%}" alt="">
             </div>
         </div>
         <div class="row-apto">
            <div>
                <img src="{% static 'Imagenes/Aptos/Atenea.png'%}" alt="">
            </div>
            <div>
                <img src="{% static 'Imagenes/Aptos/Atenea.png'%}" alt="">
            </div>
            <div>
                <img src="{% static 'Imagenes/Aptos/Atenea.png'%}" alt="">
            </div>
            <div>
                <img src="{% static 'Imagenes/Aptos/Atenea.png'%}" alt="">
            </div>
         </div>

     </div>
     <div class="distribucion">
        <h1>DISTRIBUCIÓN</h1>
        <img src="{% static 'Imagenes/Aptos/Atenea.png'%}" alt="">
        <div class="iconos">
            <div>hk</div>
            <div>3ere</div>
            <div>re</div>
            <div>re</div>
            <div>re</div>
            <div>re</div>
            <div>er</div>
            <div>re</div>
            <div>re</div>
            <div>er</div>
        </div>
     </div>
</div>
{% endblock %}  