{% extends 'main/layouts/nav.html' %}

{% load static %}
{% block content %}

<head>
    <title>Eventos - Mykonos Aparta Hotel Boutique</title>
</head>
<div class="container-eventos">
    <div class="header-servicios">
        <h1 class="center">Celebra tus eventos con nosotros</h1>
        <p style="line-height: 1.5; padding-top: 40px">
            En Mykonos Apartahotel contamos con un hermoso kiosko amplio, fresco 
            y ubicado al frente del mar. Perfecto para realizar cualqueir tipo de 
            eventos en un espacio exclusivo y hermoso en las playas del Caribe Colombiano.
            <br />
            Adicionalmente, contamos con un hermoso deck de piscina con un ambiente muy 
            agradable de noche y un espacio muy amplio que se presta para una hermosa 
            decoración. Cerca de ciudades principales como Cartagena, Barranquilla y Montería, 
            hace de Mykonos un espacio estratégico para tus eventos brindando exclusividad 
            y excelencia.
        </p>
        <div class="tipos-eventos">
            <div>Matrimonios</div>
            <div>Cumpleanos</div>
            <div>Bautizos</div>
            <div>Celebraciones</div>
            <div>Aniversarios</div>
            <div>Capacitaciones empresariales</div>
            <div>Primera comunion</div>
            <div>Entre otros</div>
        </div>
        <div class="container-button-outline">
            <a href="">Mas Informacion</a>
        </div>
    </div>
    <div class="container-galería" style="padding: 50px 0;">
        <div class="carousel-container">
            <div class="carousel-track">
                <img
                class="carousel-image"
                src="{% static 'Imagenes/IMAGEN GALERIA 1.jpg' %}"
                alt="Imagen 1"
                />
                <img
                class="carousel-image"
                src="{% static 'Imagenes/IMAGEN GALERIA 2.jpg' %}"
                alt="Imagen 2"
                />
                <img
                class="carousel-image"
                src="{% static 'Imagenes/IMAGEN GALERIA 3.jpg' %}"
                alt="Imagen 3"
                />
                <img
                class="carousel-image"
                src="{% static 'Imagenes/IMAGEN GALERIA 4.jpg' %}"
                alt="Imagen 4"
                />
                <img
                class="carousel-image"
                src="{% static 'Imagenes/IMAGEN GALERIA 5.jpg' %}"
                alt="Imagen 5"
                />
            </div>
        </div>
    </div>
</div>

{% endblock %}