{% extends 'main/layouts/nav.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>Conocenos</title>
</head>
<body>

	<div class="container-separador"></div>

	<div class="container-nosotros nosotros-bg2">
		<hr>
		<div class="text">
			<p class="TextoN">CSJ GRUPO INMOBILIARIA S.AS., es una compañía que promociona, gerencia y construye proyectos inmobiliarios y comerciales, trabajamos con ética y responsabilidad, garantizando la calidad y excelencia de las obras, buscando la mejora continua de los procesos, en procura del respeto al medio ambiente y la sociedad, con el fin de satisfacer las necesidades de sus clientes, en pro del bienestar de nuestro personal y sus socios.</p>
		</div>
	</div>

	<div class="container-separador"></div>
	
	<div class="container-nosotros nosotros-bg2">
		<div class="text">
			<p class="TextoN">Hacer de CSJ GRUPO INMOBILIARIA S.A.S, una compañía estable en la industria de la construcción a nivel nacional, que alcance una participación solida en el mercado, que le permita contribuir al desarrollo económico del sector y que se destaque por la calidad de sus servicios, la capacidad técnica, la protección del
				medio ambiente, la salud, la seguridad y la excelencia de sus personal.</p>
		</div>
	</div>
	<div class="sectionN proyectos-bg">
		<h1 class="titleN">OBJETO SOCIAL</h1>
		<p class="paragraphN">Desarrollo, promoción y construcción de proyectos
			inmobiliarios</p>
	</div>
</body>
</html>

{% endblock %}