{% extends 'main/layouts/nav.html' %}

{% block content %}
<div style="padding: max(5vw,100px);">
    <div class="grid-proyectos ">
        <div class="fila">
            <a class="col slide1" href="/proyecto">
                <h2 class="titulo-especifico same-class">Etapa 1 - Villa Romera Campestre</h2>
                <h2 class="estado entregado same-class">Entregado</h2>
            </a>
            <div class="col slide3">
                <h2 class="titulo-especifico same-class">Etapa 2 - Villa Romera Campestre</h2>
                <h2 class="estado entregado same-class">Entregado</h2>
            </div>
        </div>
        <div class="fila">
            <div class="col slide4">
                <h2 class="same-class">Etapa 3 - Villa Romera Campestre</h2>
                <h2 class="estado entregado same-class">Entregado</h2>
            </div>
            <div class="col slide5">
                <h2 class="same-class">Torre 10 - Villa Romera Olivo</h2>
                <h2 class="estado construccion same-class">En construcción</h2>
            </div>
        </div>
        <div class="fila">
            <div class="col slide6">
                <h2 class="same-class">Etapa 4 - Villa Romera Campestre</h2>
                <h2 class="estado entregado same-class">Entregado</h2>
            </div>
            <div class="col slide7">
                <h2 class="same-class">Torre 5 - Villa Romera Campestre</h2>
                <h2 class="estado construccion same-class">En construcción</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}