{% extends 'main/layouts/nav.html' %}

{% load static %}
{% block content %}
<head>
	<title>Servicios - Mykonos Aparta Hotel</title>
</head>
<div class="container-servicios">
	<div class="header-servicios intro-servicios">
		<h1>Conoce nuestros servicios</h1>
		<p>
			En Mykonos Apartahotel nos enorgullecemos de ofrecer una variedad de excelentes comodidades diseñadas
			para hacer de tu estadía una experiencia inolvidable. Ya sea que nos visites para relajarte o disfrutar de la playa,
			nuestras instalaciones completas garantizan tu confort en todo momento. Disfruta de una refrescante piscina y un
			relajante jacuzzi, además de acceso directo a las cristalinas aguas del mar Caribe. Nuestro parqueadero privado
			asegura la comodidad de quienes nos visitan en vehículo.
			<br>
			Nuestro equipo se compromete a brindarte un servicio cálido y personalizado, haciendo que cada detalle de tu
			estancia sea excepcional.
		</p>
	</div>
	<div  class="iconos-servicios">
		<div>
			<div>
				<img src="{% static 'Imagenes/Servicios/logos/LOGO PISCINA-10.png' %}" alt="piscina">
			</div>
			<div>
				<img src="{% static 'Imagenes/Servicios/logos/LOGO PLAYA-10.png' %}" alt="playa">
			</div>
			<div>
				<img src="{% static 'Imagenes/Servicios/logos/LOGO KIOSKO.png' %}" alt="kiosko">
			</div>
			<div>
				<img src="{% static 'Imagenes/Servicios/logos/LOGO JACUZZI.png' %}" alt="jacuzzi">
			</div>
			<div>
				<img src="{% static 'Imagenes/Servicios/logos/LOGO HAMACAS.png' %}" alt="hamacas">
			</div>
			<div>
				<img src="{% static 'Imagenes/Servicios/logos/LOGO PARQUEADERO.png' %}" alt="parqueadero">
			</div>

			<div>
				<img src="{% static 'Imagenes/Servicios/logos/LOGO TERRAZA.png' %}" alt="terraza">
			</div>
			<div>
				<img src="{% static 'Imagenes/Servicios/logos/LOGO MAR.png' %}" alt="mar">
			</div>
			<div>
				<img src="{% static 'Imagenes/Servicios/logos/LOGO DUCHAS EXTERIORES.png' %}" alt="duchas exteriores">
			</div>
			<div>
				<img src="{% static 'Imagenes/Servicios/logos/LOGO WIFI.png' %}" alt="wifi">
			</div>
			<div>
				<img src="{% static 'Imagenes/Servicios/logos/LOGO CARPAS.png' %}" alt="carpas">
			</div>
			<div>
				<img src="{% static 'Imagenes/Servicios/logos/LOGO ZONAS DE ESTAR.png' %}" alt="zona de estar">
			</div>
		</div>
	</div>
</div>

{% endblock %}